<header *ngIf="auth.loggedIn" >
  <app-header></app-header>
</header>
<main class="container-fluid" role="main">
  <router-outlet></router-outlet>
</main>
<app-notification aria-atomic="true" aria-live="polite"></app-notification>
<footer *ngIf="auth.loggedIn" class="footer d-block d-sm-none">
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</footer>
