html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 56px;
}
.footer {
  /*font-size: 0.65rem;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 56px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #dee2e6;
}
/*body > .container {
  padding: 60px 15px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/
