<div class="row mt-3">
  <div class="col-12">
    <h4>Edit water statement index ID {{waterService.water?.id}}</h4>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">

      <input type="hidden"
             [(ngModel)]="waterService.water && waterService.water.id"
             name="water.id"
             id="recordId"
      >


      <div class="form-group">
        <label for="statementDate">Statement date</label>

        <input required
               type="date"
               [(ngModel)]="waterService.water && waterService.water.statementDate"
               name="water.statementDate"
               class="form-control mb-2 mr-sm-2"
               id="statementDate"
               placeholder="dd/mm/yyyy">

      </div>


      <div class="form-group">
        <label for="waterIndex">Water index statement (m³)</label>
        <input required
               type="text"
               [(ngModel)]="waterService.water && waterService.water.waterIndex"
               name="water.waterIndex"
               class="form-control mb-2 mr-sm-2"
               id="waterIndex"
               placeholder="Water statement index">
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!myForm.form.valid">
        <i class="fa fa-save"></i> Save
      </button>
    </form>


  </div>
</div>
