<div class="row mt-3">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-3">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">
          Water statement index
          <app-csv (newItemEvent)="refresh($event)" [url]="url"></app-csv>
        </h4>
        <form class="form-inline" (ngSubmit)="onSubmit()" #myForm="ngForm">
          <label class="sr-only" for="statementDate">Statement date</label>
          <input required
                 type="date"
                 [(ngModel)]="model.statementDate"
                 name="statementDate"
                 class="form-control mb-2 mr-sm-2"
                 id="statementDate"
                 placeholder="dd-mm-yyyy">

          <label class="sr-only" for="waterIndex">Water statement index</label>
          <input required
                 type="text"
                 [(ngModel)]="model.waterIndex"
                 name="waterIndex"
                 class="form-control mb-2 mr-sm-2"
                 id="waterIndex"
                 placeholder="Water statement index">
          <button
            type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!myForm.form.valid">
            <i class="fa fa-plus"></i> Add
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead class="thead-dark">
          <th scope="col">Statement date</th>
          <th scope="col">Water statement index (m³)</th>
          <th></th>
          </thead>
          <tbody>
          <tr *ngFor="let e of waterService.waterList">
            <td>{{e.statementDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{e.waterIndex}}</td>
            <th class="text-right">
              <a class="btn btn-primary"
                 routerLink="/water/{{e.id}}"
              >
                <i class="fa fa-edit"></i></a>
              <button class="btn btn-danger" (click)="delete(e)">
                <i class="fa fa-trash-o"></i></button>
            </th>
          </tr>
          </tbody>
        </table>
        <div class="col-12 justify-content-center mb-5">
          <ngb-pagination (pageChange)="loadPage($event)" [(page)]="waterService.page"
                          [boundaryLinks]="true" [collectionSize]="waterService.totalItems" [maxSize]="7" [pageSize]="waterService.itemsPerPage"
                          [rotate]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-5">
    <app-water-chart></app-water-chart>
  </div>
</div>
