<div class="d-inline-block float-right"  ngbDropdown>
  <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-gear"></i></button>
  <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
    <input #fileUpload accept="text/csv" id="fileUpload" multiple="multiple" name="fileUpload" style="display:none;" type="file" />
    <button (click)="import()" ngbDropdownItem><i class="fa fa-download"></i> Import</button>
    <button (click)="export()" ngbDropdownItem><i class="fa fa-upload"></i> Export</button>
    <div class="dropdown-divider"></div>
    <button (click)="deleteAll()" class="text-danger" ngbDropdownItem><i class="fa fa-bomb"></i> Wipe</button>
  </div>
</div>

<!--


<button
  (click)="import()"
  class="btn btn-primary mb-2 mr-sm-2">

</button>
<button
  (click)="export()"
  class="btn btn-primary mb-2 mr-sm-2">

</button>
<button

  class="btn btn-danger mb-2">

</button>
-->
