<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="pl-5" style="height: 600px">
        <app-electricity-chart></app-electricity-chart>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="pl-5" style="height: 600px">
        <app-heating-chart></app-heating-chart>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="pl-5"  style="height: 600px">
        <app-water-chart></app-water-chart>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
