<div *ngIf="auth.auth0Client$ | async" class="jumbotron">
  <h1 class="display-4">Relveo</h1>
  <p class="lead">Relveo is a progressive web application made for simplify calculation of everyday energy
    consumption.</p>
  <hr class="my-2">
  <p>You can track your electricity and water index statement. You can also calculate your fuel consumption, based on
    his shape, by measuring the amount of fuel in your tank.</p>
  <p>Relveo is a free and open source software under <a
    href="https://www.gnu.org/licenses/agpl.html" target="_blank">AGPL-3.0+</a> and the source code is on <a
    href="https://gitlab.com/andycostanza/relveo" target="_blank">GitLab.com</a></p>
</div>
<p class="text-center align-content-center">
  <button (click)="auth.login()" class="btn btn-success btn-lg"><i class="fa fa-sign-in"></i>
    Log In
  </button>
</p>

