<div class="row mt-3">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-3">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">
          Electricity statement index
          <app-csv (newItemEvent)="refresh($event)" [url]="url"></app-csv>
        </h4>
        <form class="form-inline" (ngSubmit)="onSubmit()" #myForm="ngForm">
          <label class="sr-only" for="statementDate">Statement date</label>
          <input required
                 type="date"
                 [(ngModel)]="model.statementDate"
                 name="statementDate"
                 class="form-control mb-2 mr-sm-2"
                 id="statementDate"
                 placeholder="dd-mm-yyyy">

          <label class="sr-only" for="dayIndex">Day index</label>
          <input required
                 type="text"
                 [(ngModel)]="model.dayIndex"
                 name="dayIndex"
                 class="form-control mb-2 mr-sm-2"
                 id="dayIndex"
                 placeholder="Day Index">

          <label class="sr-only" for="nightIndex">Night index</label>
          <input required
                 type="text"
                 [(ngModel)]="model.nightIndex"
                 name="nightIndex"
                 class="form-control mb-2 mr-sm-2"
                 id="nightIndex"
                 placeholder="Night Index">
          <button
            type="submit"
            class="btn btn-primary mb-2 mr-sm-2"
            [disabled]="!myForm.form.valid">
            <i class="fa fa-plus"></i> Add
          </button>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead class="thead-dark">
          <th scope="col">Statement date</th>
          <th scope="col">Day index (kW/h)</th>
          <th scope="col">Night index (kW/h)</th>
          <th></th>
          </thead>
          <tbody>
          <tr *ngFor="let e of electricityService.electricityList">
            <td>{{e.statementDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{e.dayIndex}}</td>
            <td>{{e.nightIndex}}</td>
            <th class="text-right">
              <a class="btn btn-primary"
                 routerLink="/electricity/{{e.id}}"
              >
                <i class="fa fa-edit"></i></a>
              <button class="btn btn-danger" (click)="delete(e)">
                <i class="fa fa-trash-o"></i></button>
            </th>
          </tr>
          </tbody>
        </table>
        <div class="col-12 justify-content-center mb-5">
          <ngb-pagination (pageChange)="loadPage($event)" [(page)]="electricityService.page" [boundaryLinks]="true"
                          [collectionSize]="electricityService.totalItems" [maxSize]="7"
                          [pageSize]="electricityService.itemsPerPage" [rotate]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-5">
    <app-electricity-chart></app-electricity-chart>
  </div>
</div>
