<div class="d-none d-sm-block">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/dashboard">{{title}}</a>
    <button (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarToggler"
            data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="navbarCollapsed" class="collapse navbar-collapse" id="navbarToggler">
      <ul *ngIf="auth.loggedIn; else elseNavBlock" class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard"><i class="fa fa-tachometer"></i>
            Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/electricity"><i class="fa fa-bolt"></i> Electricity</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/heating"><i class="fa fa-fire"></i> Heating</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/water"><i class="fa fa-tint"></i> Water</a>
        </li>
      </ul>
      <ng-template #elseNavBlock><u class="navbar-nav mr-auto mt-2 mt-lg-0"></u></ng-template>
      <span *ngIf="auth.loggedIn; else elseButtonBlock" class="my-2 my-lg-0">
      <button *ngIf="auth.userProfile$ | async as profile" class="btn btn-outline-secondary mr-2 my-2 my-sm-0"
              routerLink="/profile">
        <img height="16" src="{{ profile.picture}}" width="16"/>
        {{ profile.email}}
      </button>
      <button (click)="auth.logout()" class="btn btn-outline-danger my-2 my-sm-0"><i class="fa fa-sign-out"></i> Log Out</button>
    </span>
      <ng-template #elseButtonBlock>
        <button (click)="auth.login()" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-sign-in"></i> Log In
        </button>
      </ng-template>
    </div>
  </nav>
</div>
<div class="d-block d-sm-none">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a *ngIf="auth.userProfile$ | async as profile" class="navbar-brand" routerLink="/profile">
      <img height="32"
           src="{{ profile.picture}}"
           width="32"/>
    </a>

    <u class="navbar-nav mr-auto mt-2 mt-lg-0"></u>
    <a (click)="auth.logout()" class="btn btn-light" ><i class="fa fa-sign-out fa-lg"></i></a>
  </nav>
</div>
