<div class="d-block d-sm-none">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-tachometer fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/electricity" routerLinkActive="active"><i class="fa fa-bolt fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/heating" routerLinkActive="active"><i class="fa fa-fire fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/water" routerLinkActive="active"><i class="fa fa-tint fa-lg"></i></a>
    </li>
  </ul>
</div>
