<div *ngIf="auth.userProfile$ | async as profile" class="card mb-3">
  <div class="card-header">
    Google account
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img alt="{{profile.name}}" class="rounded img-fluid" src="{{profile.picture}}"/>
      </div>
      <div class="col">
        <p><label>Name :</label> {{profile.name}}, <label>Nickname :</label> {{profile.nickname}}</p>
        <p><label>Given name :</label> {{profile.given_name}}, <label>Family name :</label> {{profile.family_name}}
        </p>
        <p><label>Email :</label> {{profile.email}} <i *ngIf="profile.email_verified" class="fa fa-check-circle"></i>
        </p>
      </div>
    </div>
    <a class="btn btn-primary" href="https://myaccount.google.com/personal-info"><i class="fa fa-google"></i> Edit your
      account</a>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Heating preference
  </div>
  <div class="card-body">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <label>Type of tank</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.tankType" [checked]="true" class="form-check-input" id="typeTankCuboid"
                 name="userPreference.tankType"
                 type="radio"
                 value="CUBOID">
          <label class="form-check-label" for="typeTankCuboid">Cuboid</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" disabled id="typeTankVerticalCylinder" name="userPreference.tankType"
                 type="radio"
                 value="VERTICAL_CYLINDER">
          <label class="form-check-label" for="typeTankVerticalCylinder">Vertical cylinder</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" disabled id="typeTankHorizontalCylinder" name="userPreference.tankType"
                 type="radio"
                 value="HORIZONTAL_CYLINDER">
          <label class="form-check-label" for="typeTankHorizontalCylinder">Horizontal cylinder</label>
        </div>
        <div class="form-group">
          <label for="formGroupLengthOfTank">Length of tank (in cm)</label>
          <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.lengthOfTank" class="form-control" id="formGroupLengthOfTank"
                 name="userPreference.lengthOfTank"
                 type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupWidthOfTank">Width of tank (in cm)</label>
        <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.widthOfTank" class="form-control" id="formGroupWidthOfTank"
               name="userPreference.widthOfTank"
               type="text">
      </div>
      <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.id" name="userPreference.id" type="hidden">
      <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.lastLoginTime" name="userPreference.lastLoginTime" type="hidden">
      <input [(ngModel)]="userPreferenceService.userPreference && userPreferenceService.userPreference.lastLogin" name="userPreference.lastLogin" type="hidden">
      <button
        [disabled]="!myForm.form.valid"
        class="btn btn-primary"
        type="submit">
        <i class="fa fa-save"></i> Save
      </button>
    </form>
  </div>
</div>

<div class="card border-danger mb-5">
  <div class="card-header">Delete account</div>
  <div class="card-body text-danger">
    <p class="card-text">Once you delete your account, there is no going back. Please be certain.</p>
    <a class="btn btn-danger" href="#">Delete your account</a>
  </div>
</div>
